<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicai.life.mapper.AppUserPublishPraiseMapper">

    <resultMap type="com.yicai.life.domain.AppUserPublishPraise" id="AppUserPublishPraiseResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="publishId" column="publish_id"/>
        <result property="insertTime" column="insert_time"/>
        <result property="insertBy" column="insert_by"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>


</mapper>